.content{
    display: inline-block;
    margin-top: 204px;
    margin-left: 8px;
}
.number{
    font-size: 14px;
    color: black;
}
.number input{
    width: 328px;
    height: 48px;
    font-size: 14px;
    border: 0.5px solid #dadada;
    border-radius: 4px;
    padding: 0;
}
.next{
    width: 328px;
    height: 48px;
    margin: 5px auto;
    border: 0.5px solid transparent;
    border-radius: 4px;
    background-color: #232529;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin-top: 24px;
}
.next a{
    text-decoration: none;
    color: white;
}


.content2{
    width: 640px;
    height: 328px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 180px auto;
    justify-content: center;
    text-align: center;
}
.input{
    display: flex;
    justify-content: center;
}
.confirm{
    width: 48px;
    height: 48px;
    border: 1px solid #dadada;
    border-radius: 12px;
    text-align: center;
    font-size: 24px;
    margin-left: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.code{
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
}
.content2 p{
    font-size: 14px;
    line-height: 18px;
    color: #A9A9A9;
    margin-top: 0;
}

.content3{
    width: 664px;
    height: 576px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    padding-left: 20px;
    box-sizing: border-box;
}
.name input{
    width: 200px;
    height: 48px;
    border-radius: 8px;
    border: 0.5px solid #AEAEAE;
    margin-top: 16px;
}
.box{
    width: 200px;
    height: 48px;
    border: 0.5px solid #aeaeae;
    border-radius: 8px;
}
.adress{
    width: 408px;
    height: 48px;
    border: 0.5px solid #aeaeae;
    border-radius: 8px;
    margin-left: 4px;
}
.adress2{
    width: 408px;
    height: 48px;
    border: 0.5px solid #aeaeae;
    border-radius: 8px;
}
.id-info input {
    margin-top: 16px;
}
.name h3{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
}
.content3 input{
    font-size: 14px;
    font-weight: 400;
}
.content3 button{
    margin-top: 35px;
}

.content4{
    width: 668px;
    height: 608px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    padding-left: 5px;
    box-sizing: border-box;
}
.content4 input{
    height: 48px;
    margin: 8px;
    font-size: 14px;
}
.content4 h3{
    margin-top: 40px;
    margin-left: 8px;
}
.content4 button{
    margin-top: 25px;
}

.product{
    width: 633px;
    height: 48px;
    border: 0.5px solid #aeaeae;
    border-radius: 8px;
}
.product1{
    width: 408px;
    height: 48px;
    border-radius: 8px;
    border: 0.5px solid #aeaeae;
}
.product2{
    width: 198px;
    border-radius: 8px;
    border: 0.5px solid #aeaeae;
}
.salary{
    width: 304px;
    height: 48px;
    border-radius: 8px;
    border: 0.5px solid #aeaeae;
}
.product3{
    width: 194px;
    border-radius: 8px;
    border: 0.5px solid #aeaeae;
}
.content5{
    width: 640px;
    height: 328px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 180px;
    text-align: center;
}
.content5 h3{
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
}
.content5 p{
    font-size: 14px;
    color: #A9A9A9;
    margin: 0;
}
.content5 img{
    margin-top: 16px;
}
.content5 button{
    margin-top: 32px;
}