@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.content{
    display: inline-block;
    margin-top: 204px;
    margin-left: 8px;
}
.number{
    font-size: 14px;
    color: black;
}
.number input{
    width: 328px;
    height: 48px;
    font-size: 14px;
    border: 0.5px solid #dadada;
    border-radius: 4px;
    padding: 0;
}
.next{
    width: 328px;
    height: 48px;
    margin: 5px auto;
    border: 0.5px solid transparent;
    border-radius: 4px;
    background-color: #232529;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin-top: 24px;
}
.next a{
    text-decoration: none;
    color: white;
}


.content2{
    width: 390px;
    height: 844px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 180px auto;
    text-align: center;
}
.input{
    display: flex;
    justify-content: center;
}
.confirm{
    width: 48px;
    height: 48px;
    border: 1px solid #dadada;
    border-radius: 12px;
    text-align: center;
    font-size: 24px;
    margin-left: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.code{
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
}
.content2 p{
    font-size: 14px;
    line-height: 18px;
    color: #A9A9A9;
    margin-top: 0;
}

.content3{
    width: 360px;
    height: 925px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    padding-left: 15px;
    box-sizing: border-box;
}
.content3 input{
    width: 328px;
    height: 48px;
    border-radius: 8px;
    border: 0.5px solid #AEAEAE;
    margin-bottom: 10px;
}
.content3 button{
    margin-right: 14px;
}
.content3 h3{
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
}
.bio{
    font-size: 16px;
    font-weight: 600;
}
.bio2{
    font-size: 14px;
    margin-bottom: 8px;
}

.content4{
    width: 360px;
    height: 1335px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    padding-left: 15px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.content4 input{
    width: 328px;
    height: 48px;
    font-size: 14px;
    border: 0.5px solid #aeaeae;
    border-radius: 8px;
}
.content4 h3{
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
}
.content4 span{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 8px;
}
.pass{
    margin-top: 5px;
    margin-bottom: 10px;
}
.pass1{
    margin-top: 25px;
    margin-bottom: 10px;
}
.content4 button{
    margin-top: 25px;
    margin-right: 14px;
}

.content5{
    width: 640px;
    height: 328px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 180px;
    text-align: center;
}
.content5 h3{
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
}
.content5 p{
    font-size: 14px;
    color: #A9A9A9;
    margin: 0;
}
.content5 img{
    margin-top: 16px;
}
.content5 button{
    margin-top: 32px;
}