body{
    background-color: black;
}

.content{
    width: 640px;
    height: 264px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 180px auto;
    justify-content: center;
}
.content h3{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.number{
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 0 5px;
    font-size: 14px;
    color: black;
}
.number input{
    width: 608px;
    height: 48px;
    border: 0.5px solid #DADADA;
    font-size: 14px;
}
.next{
    width: 384px;
    height: 48px;
    margin: 5px auto;
    border-radius: 4px;
    background-color: #232529;
    color: white;
    font-size: 20px;
    text-align: center;
}

.content2{
    width: 640px;
    height: 328px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 180px auto;
    justify-content: center;
    text-align: center;
}
.input{
    display: flex;
    justify-content: center;
}
.confirm{
    width: 48px;
    height: 48px;
    border: 1px solid #dadada;
    border-radius: 12px;
    text-align: center;
    font-size: 24px;
    margin-left: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.code{
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
}
.content2 p{
    font-size: 14px;
    line-height: 18px;
    color: #A9A9A9;
    margin-top: 0;
}


